.Title{
    display: flex;
    justify-content: center;
    font-size: x-large;
    
}


.row{
    margin: 50px;
    height: 180px;
    display: flex;
    justify-content: center;
    flex-direction: row;
   
}
.col{
    background-color: aqua;
    flex: 1;
    height: 220px;
     
    

}
.imgcol{
    display: flex;
    
    margin: 0 398px;
    justify-content: space-evenly;
    /* justify-content: space-around; */
    

}
.col-2{
    flex: 2;
    background-color: pink;
    height: 220px;
  

}

.imgcol-2{
    display: flex;
    margin: 0 580px;
    justify-content: space-evenly;
    /* justify-content: center; */
   

}


.col-3{
    flex: 1;
    height: 220px;
    margin: auto;

}

.imgcol-3{
    display: flex;
     margin: 0 398px;
    justify-content: space-evenly;
    /* justify-content: center; */

}


img{
    /* display: inline-block; */
    height: 200px;
    margin: 10px 100px 0 10px;
    
}