*{
    padding: 0;
    margin: 0;
    font-family: cursive;
}
body{
    background-color: rgb(114, 114, 114);
}

.wrapper{
    /* display: flex; */
    margin: 0 auto;
    /* swidth:  1000px; */
    height: 1000px;
    
}



.User-area {
    background-color: white;
    height: 250px;
    width: 690px;
    margin: 62px 231px;
    border: 4px solid rgb(0, 0, 0);
    outline: 5px;
    display: flex;
    flex-direction: row;
    box-shadow: 5px 5px 2.1px #4b4b4b;
}

.username{
    font-size: xxx-large;
    margin: 30px 45px;

}
.wordclass{
    font-style: italic;
    margin: 8px 20px;
}
.wordfunction{
    font-style: italic;
    font-size: large;
    width: 125px;
}


#like-1btn{
    background-color: #ffd966;
    box-shadow: 5px 5px 2.1px  #4b4b4b;
    color: black;
    font-weight: bold;
    font-size: medium;
    margin: 38px 0;
    width: 113px;
    height: 47px;
}

.User-1{
    /* display: flex; */

}

#likenum{
    display: inline-flex;
    font-size: x-larger;

}

.likebtnarea{
    margin: 0px -110px;
    font-size: large;
    height: 112px;

}
.post{
    margin: 35px 22px;
    width: 603px;
}
