*{
    padding: 0;
    margin: 0;
}

.nav{
    display: flex;
     justify-content: space-between; 
    align-items: center;
    background-color: black;

}

.nav-title{
    font-size: xxx-large;
    margin: 0 0 0 291px;
    color: white;
}
.nav-links  {
    align-items: center;
    display: flex;
    color: white;
    
    justify-content: space-evenly;
    padding: 10px;
    


}
a{
    text-decoration: none;
    color: white;

}
ul{
    
    list-style-type: none;
}
li{
    
    text-decoration: none;
    margin:0 40px 0 17px
}

.signout-btn {
    color: white;
    background-color: #17a2b8;
    direction: none;
    font-size: 24px;
    margin-left: 575px;
    margin-right: 250px;
    padding: 5px;
}

.main{
    display: flex;
    align-items: center;
    height: 860px;
    width: 1315px;
    margin: 0 auto;
    /* background-color: gray; */

}
.left-area{
    display: flex;
    /* margin: 0 0 188px 0; */
    flex-direction: column;
   
    
   
}
.profile-area {
    background-color: white;
    height: 558px;
    width: 833px;
    margin: 0px 0px 21px 50px;
    border: 1px solid rgb(143, 143, 143);
    outline: 5px;
}

.profile-pic{
    margin: -92px 50px 60px 50px;
    
}

.profile-pic img{
    border-radius: 100px;
    width: 150px;
    
}

.profile-areatop {
   
    background-color:#17a2b8;;
    height: 184px;
    width: 833px;
    
}


.education-block {
    background-color: white;
    height: 224px;
    width: 833px;
    align-self: flex-end;
    border: 1px solid rgb(143, 143, 143);
    outline: 5px;
    
}
.education-blocktop{
    background-color: rgb(51, 51, 51);
    height: 87px;
    width: 833px;
    

}

.sidebar{
    display: flex;
   
    flex-direction: column;
   
}
.connection-requests{
    background-color: white;
    height: 303px;
    width: 326px;
    margin: 0px 0px 96px 60px;
    border: 1px solid rgb(143, 143, 143);
    outline: 5px  ;

}
.connection-requests-top{

    background-color: rgb(51, 51, 51);
    height: 87px;
    width: 326px;

}

.active-connections-box{
    display: flex;
    flex-direction: column;
}


.active-connections{

    background-color: white;
    height: 411px;
    width: 326px;
    /* margin: 0px 0px 490px 82px; */
    align-self: flex-end;
    border: 1px solid rgb(143, 143, 143);
    outline: 5px  ;


}
.active-connections-top{

    background-color: rgb(51, 51, 51);
    height: 87px;
    width: 326px;

}

